body {
	font-family: 'Open Sans', sans-serif;
}

.container {
	margin: 0px;
	max-width: 100%;
}

#anime-container {
	padding: 15px;
	height: 95%;
	width: 100%;
	background-color: black;
}

#studio-container {
	padding: 100px 15px;
	height: 95%;
	width: 0%;
	background-color: black;
	display: none;
}

/* NAVBAR */

.navbar {
	background-color: #F5F5F5;
	border-bottom: 1px solid #D3D3D3;
}

.navbar-brand {
	font-weight: bold;
	font-size: 18px;
	color: black;
}

.navbar-brand:hover {
	color: black;
}

#brand-icon {
	margin-right: 5px;
	color: #39CCCC;
}

/* ANIME VIDEO */

#anime-box {
	width: 100%;
	height: 100%;
	position: relative;
}

#anime-video {
	width: 100%;
	height: 100%;
	position: absolute;
}

#show-video-button {
	height: 90px;
	width: 90px;
	position: absolute;
	top: 0px;
	left: 0px;
	background: none;
	border: none;
	cursor: pointer;
	display: none;
}

#show-video-button:hover {
	opacity: .8;
}

#video-icon-img {
	height: 100%;
	width: 100%;
}

#show-model-button {
	height: 90px;
	width: 90px;
	position: absolute;
	top: 0px;
	left: 90px;
	background: none;
	border: none;
	cursor: pointer;
	display: none;
}

#show-model-button:hover {
	opacity: .8;
}

#model-icon-img {
	height: 100%;
	width: 100%;
}

button:focus {
	outline: 0;
}

/* 360 VIDEO SECTIOn */

#video-box {
	height: 100%;
	padding: 10px;
	background-color: black;
	position: relative;
	display: none;
}

#video-box h3 {
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	color: white;
}

#panoramic-video-viewer {
	width: 100%;
	height: 95%;
}

#play-pause-button {
	position: absolute;
	bottom: 25px;
	left: 45%;
	background: none;
	border: none;
	cursor: pointer;
	z-index: 20;
}

#play-pause-icon {
	color: white;
}

/* 3D MODEL SECTION */

#model-box {
	height: 100%;
	padding: 10px;
	background-color: black;
	position: relative;
	display: none;
}

#model-box h3 {
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	color: white;
}

#model-icon {
	width: 30px;
	height: 30px;
	margin-right: 5px;
}

#loading-icon {
	color: lightgrey;
	position: absolute;
	left: 40%;
	top: 45%;
	display: none;
}

#rotate-button {
	position: absolute;
	bottom: 20px;
	left: 45%;
	background: none;
	border: none;
	cursor: pointer;
}

#rotate-icon {
	color: lightgrey;
}

#brighter-button {
	position: absolute;
	bottom: 60px;
	left: 15px;
	background: none;
	border: none;
	cursor: pointer;
}

#brighter-icon {
	color: lightgrey;
}

#darker-button {
	position: absolute;
	bottom: 20px;
	left: 15px;
	background: none;
	border: none;
	cursor: pointer;
}

#darker-icon {
	color: lightgrey;
}

#zoom-in-button {
	position: absolute;
	bottom: 60px;
	right: 15px;
	background: none;
	border: none;
	cursor: pointer;
}

#zoom-in-icon {
	color: lightgrey;
}

#zoom-out-button {
	position: absolute;
	bottom: 20px;
	right: 15px;
	background: none;
	border: none;
	cursor: pointer;
}

#zoom-out-icon {
	color: lightgrey;
}

#model-viewer {
	width: 100%;
	height: 95%;
	border-radius: 5px;
}

canvas {
	border-radius: 5px;
}
