body {
	font-family: 'Open Sans', sans-serif;
}

.container {
	margin: 0px;
	max-width: 100%;
	background-color: black;
}

#anime-container {
	padding: 15px;
	height: 95%;
	width: 100%;
}

#studio-container {
	padding: 100px 15px;
	height: 95%;
	width: 0%;
	display: none;
}

/* NAVBAR */

.navbar-brand {
	font-weight: bold;
	font-size: 18px;
}

.navbar-nav {
	padding-right: 30px;
}

.nav-item {
	padding-left: 50px;
}

.nav-link, .dropdown-item {
	font-size: 15px;
	color: black !important;
}

#brand-icon {
	margin-right: 5px;
	color: #eea29a;
}

#navbar-video-icon {
	margin-right: 5px;
	color: #39CCCC;
}

#navbar-model-icon {
	margin-right: 5px;
	color: #0074D9;
}

#navbar-map-icon {
	margin-right: 5px;
	color: #aa80ff;
}

/* ANIME VIDEO */

#anime-box {
	width: 100%;
	height: 100%;
	position: relative;
}

#anime-video {
	width: 100%;
	height: 100%;
	position: absolute;
}

#show-video-button {
	height: 100px;
	width: 100px;
	position: absolute;
	top: 0px;
	left: 0px;
	background: none;
	border: none;
	cursor: pointer;
	display: none;
}

#video-icon-img {
	height: 100%;
	width: 100%;
}

#show-model-button {
	height: 90px;
	width: 90px;
	position: absolute;
	top: 5px;
	left: 100px;
	background: none;
	border: none;
	cursor: pointer;
	display: none;
}

#model-icon-img {
	height: 100%;
	width: 100%;
}

#show-map-button {
	height: 90px;
	width: 70px;
	position: absolute;
	top: 5px;
	left: 200px;
	background: none;
	border: none;
	cursor: pointer;
	display: none;
}

#pin-icon-img {
	height: 100%;
	width: 100%;
}

button:focus {
	outline: 0;
}

/* 360 VIDEO SECTION */

#video-box {
	height: 100%;
	padding: 10px;
	background-color: black;
	position: relative;
	overflow: hidden;
	display: none;
}

#video-box h3 {
	text-align: center;
	font-size: 16px;
	color: white;
}

#close-video-button {
	position: absolute;
	top: 0;
	right: 10;
	background: none;
	border: none;
	cursor: pointer;
}

#close-video-icon {
	color: lightgrey;
	font-size: 1.5em;
}

#panoramic-video-viewer {
	width: 100%;
	height: 95%;
}

#play-pause-button {
	position: absolute;
	bottom: 25px;
	left: 45%;
	background: none;
	border: none;
	cursor: pointer;
	z-index: 20;
}

#play-pause-icon {
	color: white;
}

#volume-off-button {
	position: absolute;
	bottom: 60;
	left: 20;
	background: none;
	border: none;
	cursor: pointer;
	z-index: 20;
}

#volume-off-icon {
	color: white;
}

#volume-on-button {
	position: absolute;
	bottom: 100;
	left: 20;
	background: none;
	border: none;
	cursor: pointer;
	z-index: 20;
}

#volume-on-icon {
	color: white;
}

/* 3D MODEL SECTION */

#model-box {
	height: 100%;
	padding: 10px;
	background-color: black;
	position: relative;
	overflow: hidden;
	display: none;
}

#model-box h3 {
	text-align: center;
	font-size: 16px;
	color: white;
}

#close-model-button {
	position: absolute;
	top: 0;
	right: 10;
	background: none;
	border: none;
	cursor: pointer;
}

#close-model-icon {
	color: lightgrey;
	font-size: 1.5em;
}

#model-icon {
	width: 30px;
	height: 30px;
	margin-right: 5px;
}

#loading-icon {
	color: lightgrey;
	position: absolute;
	left: 40%;
	top: 45%;
	display: none;
}

#rotate-button {
	position: absolute;
	bottom: 25px;
	left: 45%;
	background: none;
	border: none;
	cursor: pointer;
}

#rotate-icon {
	color: lightgrey;
}

#brighter-button {
	position: absolute;
	bottom: 65px;
	left: 15px;
	background: none;
	border: none;
	cursor: pointer;
}

#brighter-icon {
	color: lightgrey;
}

#darker-button {
	position: absolute;
	bottom: 25px;
	left: 15px;
	background: none;
	border: none;
	cursor: pointer;
}

#darker-icon {
	color: lightgrey;
}

#zoom-in-button {
	position: absolute;
	bottom: 65px;
	right: 15px;
	background: none;
	border: none;
	cursor: pointer;
}

#zoom-in-icon {
	color: lightgrey;
}

#zoom-out-button {
	position: absolute;
	bottom: 25px;
	right: 15px;
	background: none;
	border: none;
	cursor: pointer;
}

#zoom-out-icon {
	color: lightgrey;
}

#model-viewer {
	width: 100%;
	height: 95%;
	border-radius: 5px;
}

canvas {
	border-radius: 5px;
}

/* MAP SECTION */

#map-box {
	height: 100%;
	padding: 35px 10px;
	background-color: black;
	position: relative;
	display: none;
}

#close-map-button {
	position: absolute;
	top: 0;
	right: 10;
	background: none;
	border: none;
	cursor: pointer;
}

#close-map-icon {
	color: lightgrey;
	font-size: 1.5em;
}

#map {
	height: 100%;
}
